pandas
notebook
matplotlib
pyarrow
requests
numpy
seaborn
jupyter
pyarrow
plotly
lightgbm
xgboost
confluent-kafka==2.8.0
folium
geopandas
hopsworks==4.1.5
ipywidgets
mlflow
numpy<1.24
python-dotenv
scikit-learn==1.5.2
streamlit
streamlit-folium
